h1{
    
    color:black; 
    padding: 30px;  
}
#heading2{
    color:blue;
}
.heading{
    color:green;
}
.para{
    border: 4px;
    border-color:black;
    border-style:solid;
    padding: 20px;
    text-align: center;
}
.navbar{
border: 4px;
    border-color:black;
    border-style:solid;
    padding: 15px;
    background-color: brown;
    text-align: center;
}
.navbar a{
    color: white;

    text-decoration: none;
    padding: 10px;
}
.navbar a:hover{
    background-color: white;
    color: brown;
}
body{
    margin:0;
    
}
.card{
    border:2px solid black;;

}
.card img{
    width:100px;
   align-items: center;
}
.card button{
    margin-button: 20px;
}
.gear{
    position:fixed;
    top: 50;
    left: 20px;
    size: 60px;
}
.pill{
    position:fixed;
    top: 20px;
    right: 50px;
    size: 150px;
}
.mar{

    text-align: center; 
    
}
.searchbar{
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.lens{
    position:relative;
    /*
    top: 20px;or bottom: 20px; or left: 20px; or right: 20px;
    */
    left:30px;
}
.logo{
    color:purple;
}
.par{
    padding: 20px;
}
